AdvicKPI_1_0_0_4_managed/Workflows/PAGenerateKPISnapshot-2C1CAAD8-D157-F011-BEC2-000D3AF22BA6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "kev_sharedcommondataserviceforapps_fe91c"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Month",
            "interval": 1,
            "startTime": "2025-06-30T04:30:00Z"
          },
          "metadata": {
            "operationMetadataId": "9e07a6ce-f146-4c95-b1a0-314dcc485cf2"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4b52926d-f159-4e60-aa19-790c465b047f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "today",
                "type": "string",
                "value": "@{utcNow()}"
              }
            ]
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0f28847b-af01-4569-9611-ac756fa2b57f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isLastDayOfMonth",
                "type": "boolean",
                "value": "@equals(formatDateTime(addDays(utcNow(),1), 'dd'), '01')"
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Perform_an_unbound_action": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "30bcf952-a22d-4e7c-804e-0ad69b09bd9e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "advic_GenerateMonthlyKPISnapshot"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@variables('isLastDayOfMonth')",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "ded09573-af10-49dc-8a1a-1d7a783cf824"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}